@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


$color-cafe1: #3D271F;
$color-cafe2: #4d3412;
$color-amarillo1: #F7CA15;
$color-amarillo2: #FBD210;

// $color-: #4F6728	color verde:
// $color-: #B95A40	color naranja:
// $color-: #DF8D17	color naranja 2:
// $color-: #FFFFFF	color blanco: para contraste
// $color-: #000000	color negro: para contraste
// $color-: #63921e	color verde 2:
// $color-: #f1e1bf;

//rgba(167, 129, 26, 0.1)


// SECTION MENÚ
#menu, #busqueda, #hamburguesa > .times{
    display: none;
}
#busqueda{
    margin-top: 10px;
}
.ui.inverted.brown.menu, .ui.inverted.menu .brown.active.item {
    background-color: $color-cafe1;
}
.ui.inverted.brown.menu .active.item {
    background-color: $color-cafe2!important;
}
body{
    // background: linear-gradient($color-cafe1 0%, $color-cafe2 75%, #fff 100%);
    background: rgb(61,39,31);
    background: linear-gradient(90deg, rgba(61,39,31,1) 0%, rgba(251,210,16,1) 35%, rgba(251,210,16,1) 100%);

}

// SECTION MAIN AL CARGAR LA PAGINA
main{
    // background: linear-gradient($color-cafe1 0%, $color-cafe2 100%), url("../assets/images/fondo1.jpg");
    background: url("../assets/images/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: -1rem 0;
    margin: 50px 0 0 0;
    padding-top: 100px;
    height: 500px;
    .cargando{
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px 0;
    }
    
}
.recetas{
    display: none;
}

//computer mediaquery
#recetas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0;
}

@media (max-width: 600px){
    #recetas{
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px 0;
    }
}

// FOOTER
footer{
    height: 500px;
    .informacion{
        background-color: $color-cafe1;
        .autores{
            position: relative;
            top: -200px;
        }
    }
}